.wuui-ripple {
  position: relative;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  cursor: pointer;
}

.wuui-mat-ink {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  cursor: pointer;
  overflow: hidden;

  >span{
    display: block;
    position: absolute;
    background: rgba(200, 200, 200, 0.6);
    -webkit-clip-path: circle(0% at 50% 50%);
            clip-path: circle(0% at 50% 50%);
  }
}

.wuui-mat-ink.animate {
  >span{
    -webkit-animation: rippleEffect ease-in;
    animation: rippleEffect ease-in;
  }
}

@-webkit-keyframes rippleEffect {
  100% {
    opacity: 0;
    -webkit-clip-path: circle(100% at 50% 50%);
            clip-path: circle(100% at 50% 50%);
  }
}

@keyframes rippleEffect {
  100% {
    opacity: 0;
    -webkit-clip-path: circle(100% at 50% 50%);
            clip-path: circle(100% at 50% 50%);
  }
}