.header-ndd-right{
  background-color: $bg_shade_x1;

  .drawer{
    color: $bg_shade_x6;
  }

  nav{
    background-color: $bg_shade_x1;
  }

  a{
    color: $bg_shade_x6;
  }

  .nested-dropdown-menu{
    background-color: $bg_shade_x1;
  }
}