$color_primary: #2980B9;
$color_secondary: #34495E;

$color_success: #27AE60;
$color_error: #E74C3C;
$color_warning: #E67E22;

$color_more_dark: #373635;
$color_dark: #474645;
$color_less_dark: #575655;

$color_extra_light: #f9f8f7;
$color_more_light: #f3f2f1;
$color_light: #e7e6e5;
$color_less_light: #d7d6d5;